{% extends 'shared/base.html' %}
{% block content%}
    <h1>{{library.title}} </h1>
    <h2>Address: {{library.address}}</h2>

   <form action="{% url 'libraryapp:library_edit_form' library.id %}" method="GET">
        {% csrf_token %}
        <button>Edit</button>
    </form>
{% comment %} 
    <form action="{% url 'libraryapp:library' library.id %}" method="POST">
        {% csrf_token %}
        <input hidden name="actual_method" value="Delete">
        <button>Delete</button>
    <form> {% endcomment %}
{% endblock %}